.button {
    background-color: #111;
    color: #fff;
    border: none;
    padding: 8px 16px;
    display: flex;
    min-width: 230px;
    justify-content: space-between;
    border-radius: 20px;
}