.button {
  background-color: #111;
  color: #fff;
  border: none;
  padding: 12px 20px;
  display: flex;
  width: 260px;
  border-radius: 8px;
  justify-content: space-between;
  margin: 12px 0;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 10px;
}

.button:hover {
  background-color: #333;
}

.button span {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn_outline {
  background-color: #fff;
  color: #111;
  border: 1px solid #111;
}

.btn_outline:hover {
  background-color: #f5f5f5;
}
