.button {
    background-color: #fff;
    color: #111;
    border: none;
    padding: 8px 16px;
    display: flex;
    width: 230px;
    /* column-gap: 10px; */
    justify-content: space-between;
    border-radius: 10px;
    margin: 10px 0;
    align-items: center;
}

